.footer {
  padding: auto;
  text-align: center;
  font-size: 0.85rem;
  color: #94a3b8;
  height: 50px;

  background: rgba(255, 255, 255, 0.04);

  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
