.container {
  /* max-width: 1000px; */
  margin: 10px auto;
  padding: 20px;
  font-family: "Inter", sans-serif;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 30px;
  color: white;
}

.tableWrapper {
  overflow-x: auto;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

.historyTable {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.historyTable th {
  background-color: #f8f9fa;
  padding: 15px;
  color: #666;
  font-weight: bold;
  border-bottom: 2px solid #eee;
}

.historyTable td {
  padding: 15px;
  border-bottom: 1px solid #f0f0f0;
  color: #444;
}
.historyTable tbody tr:first-child {
  background-color: rgba(99, 102, 241, 0.05);
  border-left: 4px solid #6366f1;
}

.emptyState {
  text-align: center;
  padding: 50px;
  background: #f9f9f9;
  border-radius: 8px;
  color: #888;
}
