.errorBlock {
  display: flex;
  gap: 1rem;
  padding: 0.7rem;
  background-color: #fef2f2;
  border-left: 5px solid #ef4444;
  border-radius: 8px;
  margin: 10px 0;
  align-items: center;
}

.icon {
  background-color: #ef4444;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.text h2 {
  margin: 0;
  font-size: 1.1rem;
  color: #991b1b;
}

.text p {
  margin: 5px 0 0;
  color: #b91c1c;
  font-size: 0.9rem;
}
